@font-face
{
    font-family: 'opensans';
    src: url('OpenSans-Regular.ttf') format('truetype');
}  

button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

*
{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'opensans';
    user-select: none;
}

html
{
    /* border: 1px solid orange; */
    width: calc(100% - 3px - 3px);
    height: calc(100% - 3px - 3px);
    padding: 3px;
    box-shadow: inset 0px 0px 0px 1px black;
}

body
{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgb(41, 41, 41);
    color: rgb(156, 156, 156);
    font-size: 14px;
}

td:first-child
{
    width: 350px;
    max-width: 335px;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#searchfield
{
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(202, 202, 202);
    height: 30px;
    background-color: rgb(22, 22, 22);
    color: white;
    box-shadow: none;
    text-shadow: none;
}

#searchfield:active
{
    border-bottom: 1px solid red;
}

#entry_list
{
    width: 100%;

}

.entry_item
{
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% - 6px - 6px);
    margin: auto;
    overflow: hidden;
    height: 20px;
    cursor: pointer;
    white-space: pre;
}
